<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">

      <h1 class="text-center rhweb-page-title">Survey</h1>

    </div>
  </div>

  <div ng-if="running" class="row">
    <div class="col-sm-12">

      <div class="well well-sm text-center">
        <rtl-plot do-tune="doTune(cf)"
            width="auto" height="300px"
            type="float"
            url="/rtl/output/psd/wideband">
         </rtl-plot>
      </div>

    </div>
  </div>

  <div ng-show="running" class="row">
    <div class="col-sm-3 col-sm-offset-3">

      <h4 class="text-center">Frequency</h4>
      <div class="well well-sm">
        <h3 class="text-center text-info rhweb-display-values">
          <strong ng-if="survey.frequency">{{survey.frequency}} MHz</strong>
        </h3>
      </div>

    </div>
    <div class="col-sm-3">

      <h4 class="text-center">Processing</h4>
      <div class="well well-sm">
        <h3 class="text-center text-info rhweb-display-values">
          <strong>{{survey.processing | uppercase}}</strong>
        </h3>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div ng-show="ready" class="rhweb-survey-controls text-center">

        <form class="form-inline" role="form">
          <div class="form-group">
            <label class="sr-only" for="frequency">Frequency</label>
            <div class="input-group">
              <input type="text" class="form-control" id="frequency" placeholder="Frequency" ng-model="form.frequency"/>
              <div class="input-group-addon">MHz</div>
            </div>
          </div>
          <div class="form-group">
            <label class="sr-only" for="processing">Processing</label>
            <select
                ng-model="form.processing"
                class="form-control"
                id="processing"
                ng-options="p for p in processors">
            </select>
          </div>
          <button type="submit" class="btn btn-success" ng-click="task()">Task</button>
          <button class="btn btn-danger" ng-click="halt()">Halt</button>
        </form>

      </div>
    </div>
  </div>

  <div ng-if="running" class="row">
    <div class="col-sm-8 col-sm-offset-2">

      <div class="well well-sm text-center">
        <rtl-plot do-tune="doTune(cf)"
                  width="auto" height="300px"
                  type="float"
                  url="/rtl/output/psd/narrowband">
        </rtl-plot>
      </div>

    </div>
  </div>

</div>

<div ng-hide="connected">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="panel panel-danger">
          <div class="panel-heading">
            Connection Error
          </div>
          <div class="panel-body bg-danger text-center">
            <h2><i class="fa fa-5x fa-meh-o"></i></h2>
            <h3>Unable to connect to the backend server.</h3>
            <p>Try typing <code>sudo service redhawk-web start</code> in the command-line.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div ng-hide="ready || !connected">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="panel panel-danger">
          <div class="panel-heading">
            Device Error
          </div>
          <div class="panel-body bg-danger text-center">
            <h2><i class="fa fa-5x fa-meh-o"></i></h2>
            <h3>The {{device.type | uppercase}} is currently {{device.status}}.</h3>
            <p>If the device is unplugged, please plug it in.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
