<div class="container">
<!--
This file is protected by Copyright. Please refer to the COPYRIGHT file
distributed with this source distribution.

This file is part of REDHAWK rtl-demo-client.

REDHAWK rtl-demo-client is free software: you can redistribute it and/or modify it under
the terms of the GNU Lesser General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

REDHAWK rtl-demo-client is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more
details.

You should have received a copy of the GNU Lesser General Public License along
with this program.  If not, see http://www.gnu.org/licenses/.
-->
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">

      <h1 class="text-center rhweb-page-title">Survey</h1>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div ng-show="ready" class="rhweb-survey-controls text-center">

        <form class="form-inline" role="form">
          <div class="form-group">
            <label class="sr-only" for="frequency">Frequency</label>
            <div class="input-group">
              <input type="text" class="form-control" id="frequency" placeholder="Frequency" ng-model="form.frequency"/>
              <div class="input-group-addon">MHz</div>
            </div>
          </div>
          <div class="form-group">
            <label class="sr-only" for="processing">Processing</label>
            <select
                ng-model="form.processing"
                class="form-control"
                id="processing"
                ng-options="p for p in processors">
            </select>
          </div>
          <button type="submit" class="btn btn-success" ng-click="task()">Task</button>
          <button class="btn btn-danger" ng-click="halt()">Halt</button>
        </form>

      </div>
    </div>
  </div>

  <div ng-show="running" class="row">
    <div class="col-sm-3 col-sm-offset-3">

      <p class="text-center rhweb-display-labels">Frequency</p>
      <div class="well well-sm">
        <p class="text-center text-info rhweb-display-values">
          <strong ng-if="survey.frequency">{{survey.frequency}} MHz</strong>
        </p>
      </div>

    </div>
    <div class="col-sm-3">

      <p class="text-center rhweb-display-labels">Processing</p>
      <div class="well well-sm">
        <p class="text-center text-info rhweb-display-values">
          <strong>{{survey.processing | uppercase}}</strong>
        </p>
      </div>

    </div>
  </div>

  <div ng-if="running" class="row">
    <div class="col-sm-12">
      <div class="btn-group btn-group-xs pull-right">
        <button class="btn btn-default" ng-class="{'btn-primary': widebandMode == 'line'}" ng-click="setWidebandMode('line')">Wideband (Line)</button>
        <button class="btn btn-default" ng-class="{'btn-primary': widebandMode == 'raster'}" ng-click="setWidebandMode('raster')">Wideband (Raster)</button>
      </div>
      <p class="rhweb-plot-title">&NonBreakingSpace;</p>

      <div class="well well-sm text-center rhweb-plot-container">
        <div ng-if="widebandMode == 'line'">
          <rtl-plot do-tune="doTune(cf)"
              width="auto" height="300px"
              type="float"
              url="/rtl/output/psd/wideband">
           </rtl-plot>
        </div>
        <div ng-if="widebandMode == 'raster'">
            <rtl-raster do-tune="doTune(cf)"
                width="auto" height="300px"
                type="float"
                url="/rtl/output/psd/wideband">
            </rtl-raster>
        </div>
      </div>
    </div>

  </div>

  <div ng-if="running" class="row">
    <div class="col-sm-12">
      <div class="btn-group btn-group-xs pull-right">
        <button class="btn btn-default" ng-class="{'btn-primary': detailPlotMode == 'narrowband'}" ng-click="setDetailPlotMode('narrowband')">Narrowband</button>
        <button class="btn btn-default" ng-class="{'btn-primary': detailPlotMode == 'demod_freq'}" ng-click="setDetailPlotMode('demod_freq')">Demod (Frequency)</button>
      </div>
      <p class="rhweb-plot-title">&NonBreakingSpace;</p>
      <div class="well well-sm text-center rhweb-plot-container">
        <div ng-if="detailPlotMode == 'narrowband'">

          <rtl-plot do-tune="doTune(cf)"
                    width="auto" height="300px"
                    type="float"
                    url="/rtl/output/psd/narrowband">
          </rtl-plot>

        </div>
        <div ng-if="detailPlotMode == 'demod_freq'">

          <rtl-plot do-tune="doTune(cf)"
                    width="auto" height="300px"
                    type="float"
                    url="/rtl/output/psd/fm">
          </rtl-plot>

        </div>
      </div>

    </div>
  </div>

</div>

<div ng-hide="connected">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="panel panel-danger">
          <div class="panel-heading">
            Connection Error
          </div>
          <div class="panel-body bg-danger text-center">
            <h2><i class="fa fa-5x fa-meh-o"></i></h2>
            <h3>Unable to connect to the backend server.</h3>
            <p>Try typing <code>sudo service redhawk-web start</code> in the command-line.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div ng-hide="ready || !connected">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="panel panel-danger">
          <div class="panel-heading">
            Device Error
          </div>
          <div class="panel-body bg-danger text-center">
            <h2><i class="fa fa-5x fa-meh-o"></i></h2>
            <h3>The {{device.type | uppercase}} is currently {{device.status}}.</h3>
            <p>If the device is unplugged, please plug it in.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
